---
import { BaseLayout, Stack, Centered } from "@layouts/index.js";
import Breadcrumbs from "@components/Nav/Breadcrumbs.astro";
import Title from "@components/Title.astro";
import CardStack from "@components/Cards/Cardstack.astro";

const title = "Men and Women Nurturing Edible Cities";
---

<BaseLayout title={title}>
    <Breadcrumbs title={title} />

    <Centered>
        <Title title={title} />
        <p>
            Women have largely been at the forefront of urban agriculture, from
            maintaining gardens, growing fresh herbs, vegetables and microgreens
            or ensuring a nutritional diet for the family. For some, gardening
            is a passion and hobby, while for others gardening armed them with
            an identity where they ventured beyond their households to set up
            urban farming enterprises. Though women outnumber men in urban
            farming, a significant proportion of men are involved as well which
            offer both men and women to carve new possibilities of growing food
            in the city.
        </p>
        <Stack>
            <CardStack
            

                img="/assets/8.1/Picture 2.jpg"
                title="Men and Women on the Frontiers of Urban Agriculture"
                href="/exhibition-rooms/men-and-women-nurturing-edible-cities/men-and-women-on-the-frontiers-of-urban-agriculture"
            />
            <CardStack
            

                img="/assets/8.3/Photo2; a man collecting eggs in a poultry farm in chanika.jpg"
                title="Gender Equality and Obligations for Agricultural Development"
                href="/exhibition-rooms/men-and-women-nurturing-edible-cities/gender-equality-and-obligations-for-agricultural-development"
            />
        </Stack>
    </Centered>
</BaseLayout>
