---
const id = Astro.props.id;
const src = "https://www.youtube.com/embed/" + id;
---

<div class="centered">
    <iframe
        class="w-full aspect-video mb-8"
        src={src}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
