---
const { link, image, text, ratio, order } = Astro.props;
---

<a rel="prefetch" href={link} class="card opacity-0 group">
    <img
        src={image}
        class:list={[
            "h-full w-full object-cover brightness-50 group-hover:scale-105 transition-transform ease-in-out duration-200",
            ratio,
        ]}
    />

    <div class="card-textblock">
        <h3 class="text-eggshell leading-tight drop-shadow">{text}</h3>
    </div>
</a>

<style lang="postcss">
    .card {
        @apply relative rounded-lg shadow-lg;
    }

    .card-textblock {
        @apply absolute flex items-stretch inset-0 px-6 py-12;
    }

    .card-textblock p {
        @apply text-white;
    }
</style>
