---
import Base from "../layouts/Base.astro"
import Partners from "../components/Partners.astro"
import TopNav from "../components/TopNav.svelte"
import 'animate.css';

const bgClass = "flex items-center bg-[url('/landing/Background_image.webp')] bg-blend-multiply bg-center bg-gray-20 grow p-8 pt-28 pb-16 md:px-16"
---

<Base>
<TopNav currentURL="home" client:only="svelte" />
<div class="flex flex-col min-h-screen animate__animated animate__slideInDown">
    <div class={bgClass}>
        <div class="flex flex-col gap-6 text-white ">
            <h1 class="font-azeret text-4xl md:text-5xl xl:text-6xl font-bold animate__animated animate__fadeInUp animate__delay-1s">Growing Greener Cities</h1>
            <div class="flex flex-col gap-4 w-full md:w-2/3">

                <h2 class="font-azeret font-bold text-xl md:text-2xl xl:text-3xl text-subtitle animate__animated animate__fadeInUp animate__delay-1s">Implications for
                    Wellbeing and Urban
                    Sustainability
                    in the Global South</h2>
                <h3 class="font-pt animate__animated animate__fadeInUp animate__delay-1s">This exhibition brings together different examples of urban and peri-urban
                    agriculture in India and
                    Tanzania, highlighting the impact of urbanisation on both the wellbeing and environmental
                    sustainability
                    of
                    its peoples through life histories, short films, infographics and photographic essays.</h3>
            </div>

            <a href="/#"
                class="flex gap-2 items-center w-fit border-0 rounded-lg px-4 py-1 bg-gradient-to-br from-green-dark to-black animate__animated animate__fadeInUp animate__delay-1s">Read
                More
                <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM25.3536 4.35355C25.5488 4.15829 25.5488 3.84171 25.3536 3.64645L22.1716 0.464466C21.9763 0.269204 21.6597 0.269204 21.4645 0.464466C21.2692 0.659728 21.2692 0.976311 21.4645 1.17157L24.2929 4L21.4645 6.82843C21.2692 7.02369 21.2692 7.34027 21.4645 7.53553C21.6597 7.7308 21.9763 7.7308 22.1716 7.53553L25.3536 4.35355ZM1 4.5H25V3.5H1V4.5Z"
                        fill="white" />
                </svg>
            </a>
        </div>

    </div>
    <Partners class="self-end" />
</div>
</Base>