---
import Partners from "@components/Partners.astro";
import Base from "@layouts/Base.astro"
import Page from "@layouts/Page.astro";
---

<Base>
<div class="pt-96">
    <Partners/>
    </div>  
</Base>