<h5 class="font-semibold mb-4 text-gray-15">{Astro.props.category}</h5>
<h1 class="leading-tight">{Astro.props.title}</h1>
<h1 class="leading-tight">{Astro.props.subtitle}</h1>
<p class="mt-4 text-gray">{Astro.props.authors}</p>