---
import Base from "../layouts/Base.astro"
---

<Base>
<div class="pt-16 mx-8 lg:mx-16 text-gray">
    <slot name="breadcrumb" />
    <main class="px-0 md:px-20 lg:px-30 xl:px-40 pb-16 max-w-screen-2xl">
        <section class="mt-10 max-w-2xl">
            <slot name="title" />
        </section>
        <slot />
    </main>
</div>
</Base>