---
import Base from "../layouts/Base.astro"
import Partners from "./Partners.astro"
import TopNav from "./TopNav.svelte"
---

<Base>
<div class="pt-16 mx-8 lg:mx-16 text-gray max-w-screen-2xl">
    <slot />
</div>
</Base>