<div class="mb-6">
    <h1 class="leading-snug">{Astro.props.title}</h1>
    <h1 class="leading-snug">{Astro.props.subtitle}</h1>
    {Astro.props.authors && <h5 class="my-2 leading-loose">By {Astro.props.authors}</h5>}
</div>

