<script>


</script>

<header class="bg-eggshell fixed w-full h-14 z-50">
    <div class="flex items-center h-14 justify-between mx-16 border-b border-b-green">
        <div>
            <a class="font-pt text-2xl text-green" href="/">
                UPAgrI
            </a>
        </div>
        <nav>
            <ul class="flex gap-6 tracking-tight text-green-dark font-azeret text-base">
                <li><a href="/about">About</a></li>
                <li><a href="/what-is-upa">What is UPA?</a>
                    <ul class="hidden">
                        <li><a href="/what-is-upa/personal-encounters">
                                <span>Personal Encounters </span>
                                <p>Voices from the field</p>
                            </a></li>
                        <li><a href="/what-is-upa/showcasing-upa">
                                <span>Showcasing Upa</span>
                                <p>Insights from the field</p>
                            </a></li>
                    </ul>
                </li>
                <li><a href="/what-is-upa">Exhibition Rooms</a></li>
                <li><a href="/what-is-upa">Reading Room</a></li>
                <li><a href="/what-is-upa">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<style lang="postcss">
    a {
        @apply hover:text-green/30 transition-colors duration-300 ease-in-out;
    }
</style>