---
import Page from "@layouts/Page.astro"
import Breadcrumbs from "@components/Breadcrumbs.astro"
import ArticleTitle from "@components/ArticleTitle.astro";


//TODO load this data from a file?
const trail = [
    { title: "Home", url: "/" },
    { title: "What is UPA", url: "/what-is-upa" },
    { title: "Showcasing UPA - Insights from the field", url: "/what-is-upa/showcasing-upa" },
    { title: "Garden City's farming habits", url: "/what-is-upa/showcasing-upa/garden-citys-farming-habits" }
]

---

<Page>
    <Breadcrumbs {trail} slot="breadcrumb" />
    <ArticleTitle slot="title" category="Showcasing UPA - Insights from the field" title="Garden City's farming habits"
        authors="Amruth, Maitreyi, Swarnika" />
    <section>
        <iframe class="w-full aspect-video mb-8" src="https://www.youtube.com/embed/T7KOOlHbT0U"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div>
            <p>
                "In this video ‘Garden city’s farming habits', the UPAGrI project team discusses the
                experiences, perceived benefits and contributions of urban farming to ecological, social and economic
                sustainability. This 'virtual tour' showcases the practices of three urban farmers based in Bengaluru
                city,
                India, who discuss their personal journeys of urban agriculture and its outcomes on their personal
                well-being.
            </p>
            <p>
            <h5>Ashwini Gajendran's terrace garden</h5>
            Ashwini is an entrepreneur and a home gardener living in Vidyaranyapura, Bangalore. She nurtures a 30x40 sq.
            terrace garden comprising 400 plants that includes more than 50 vegetable plants, herbs and exotic flowers.
            In
            this video, Ashwini explains that her terrace garden offers deeply personal benefits, satisfaction, and
            learnings, thereby giving access to her own greenery, safe nutritious food, and newly learnt lifeview, where
            she
            looks at garbage as a valuable resource.
            </p>
            <p>
            <h5>Farming with and for the community - the story of ANANAS</h5>
            Ananas is a permaculture design company from Bengaluru, who design and create different types of urban farms
            ranging from small kitchen gardens to large community gardens. With a background in environmental and social
            sciences, Kiri Meili is one of the co-founders of ANANAS. Of the many projects, their restoration work at
            Jakkur
            lake along with Jala Poshan trust and fishermen community brings out permaculture to the urban commons.
            Kiri's
            narrative clearly indicates that Jakkur community garden holds promise for environmental sustainability in
            urban
            areas. With local fishermen, garden workers, regular walkers and volunteers getting engaged in buiding and
            maintaining the community garden, this becomes a unique example of nature in the city.
            </p>
            <p>
            <h5>Urban Mali - engaging the migrants through Urban Farming</h5>
            A social enterprise, Urban Mali Network empowers farmers from rural areas around Bangalore to pursue their
            livelihood and find regular employment in the city. An urban botanist and a nature lover, Vandana along with
            her
            team of gardeners help in setting up and maintaining different types of gardens in Bengaluru city.
            </p>
            <p>
                Urban Mali presents a unique business model that provides job opportunities to the migrants who are
                coming
                to
                cities from rural, farming background. This social entrepreneurial model tends to match the growing
                demand
                amongst the urban middle and upper-middle class for malis or gardeners - this group increasingly want to
                have
                their own gardens (and even farms at times), but do not have the time to invest and are more than
                willing to
                employ people to set up and take care of their gardens; on the other hand you have increasing number of
                people/specifically farmers moving to the city as urbanization lead to loss of agricultural land and
                jobs in
                rural and periurban areas.

            </p>
        </div>
    </section>
</Page>
<style lang="postcss">
    p {
        @apply mb-6;
    }
</style>