---
import Page from "@layouts/Page.astro"
import Breadcrumbs from "@components/Breadcrumbs.astro"
import ArticleTitle from "@components/ArticleTitle.astro";

//TODO load this data from a file?
const trail = [
    { title: "Home", url: "/" },
    { title: "What is UPA", url: "/what-is-upa" },
    { title: "Showcasing UPA - Insights from the field", url: "/what-is-upa/showcasing-upa" },
    { title: "Gardening per square foot: a field tour of gardens in Bengaluru Slums", url: "/what-is-upa/showcasing-upa/gardening-per-square-foot" }
]

---

<Page>
    <Breadcrumbs {trail} slot="breadcrumb" />
    <ArticleTitle slot="title" category="Showcasing UPA - Insights from the field" title="Gardening per square foot:"
        subtitle="A field tour of gardens in Bengaluru Slums" authors="Amruth, Maitreyi, Swarnika" />
    <section>
        <iframe class="w-full aspect-video mb-8" src="https://www.youtube.com/embed/gMeN9BANqvM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class=" flex flex-col gap-y-4 max-w-[80ch]">
            <p class="first-letter:text-2xl first-letter:text-green-dark">Very often, urban gardens are related to lush
                green, compact, neatly manicured gardens that aim
                to
                enhance
                the aesthetics of a place more than anything else. However, there is another side to urban gardens—urban
                gardening and farming among low-income settlements or slums.
            </p>
            <p> Despite substantial research around urban agriculture, scant attention is paid to understanding
                the
                enablers, barriers and outcomes of the practices in different sections of the society, particularly
                low-income settlements.
            </p>
            <p>Conversing with three different types of practitioners from urban slums in Bengaluru, this
                session
                focused on
                showcasing urban farming practices and stimulating a dialogue around how urban farming contributes to
                food
                security within urban poor and towards the sustainability of a city.
            </p>
        </div>
    </section>
</Page>