---
import Page from "@components/Page.astro"
import Breadcrumbs from "@components/Breadcrumbs.astro"
import Slider from "@components/Slider.astro";

const images = await Astro.glob("/src/images/showcasing-upa/*")

const links = [
    {
        "title": "Garden City's farming habits",
        "href": "/what-is-upa/showcasing-upa/garden-citys-farming-habits"
    },
    {
        "title": "Gardening per square foot",
        "href": "/what-is-upa/showcasing-upa/gardening-per-square-foot"
    },
    {
        "title": "Changing Rivers, Changing Practices",
        "href": "/what-is-upa/showcasing-upa/changing-rivers-changing-practices"
    },
    {
        "title" : "Lorem Ipsum",
        "href" : "#"
    }

]

//TODO load this data from a file?
const trail = [
    { title: "Home", url: "/" },
    { title: "What is UPA", url: "/what-is-upa" },
    { title: "Showcasing UPA", url: "/what-is-upa/showcasing-upa" }
]

---

<Page>
    <Breadcrumbs {trail} slot="breadcrumb" />
    <Fragment slot="title">
        <h1>Showcasing UPA</h1>
        <h1>Insights from the field</h1>
    </Fragment>
    <div class="mt-8">
        <Slider {images} {links} />
    </div>
</Page>