<blockquote class="font-open text-lg italic relative my-8">
    <span class="font-lato text-5xl absolute -left-8 -top-2">&ldquo;</span>
    <slot />
    <span class="font-lato text-5xl absolute indent-1 -bottom-7"> &rdquo;</span>
</blockquote>
