<div class="opacity-0 swiper-slide border lg:border-2 border-eggshell my-8 lg:my-0 w-full lg:w-auto flex-none bg-white">
    <img class="h-auto lg:h-full w-full lg:w-auto object-fill" src={Astro.props.src}/>
    <slot/>
</div>