---
import TopNav from "@components/TopNav.astro"
import "/src/styles/base.css"
---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>UPAgri</title>

    <!--Favicon generated from Seedling Emoji from Twemoji https://twemoji.twitter.com/ -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.7.0/keen-slider.min.css" />

</head>

<body class="bg-eggshell font-pt">
    <TopNav client:load />
    <slot />
</body>

</html>